# 依存パッケージ
node_modules/

# ビルド成果物
dist/

# 環境変数
.env
.env.*
!.env.example

# Vite
vite.config.ts.timestamp*
vite.config.js.timestamp*

# Svelte
.svelte-kit/

# エディタ
.idea/

# OS
.DS_Store
Thumbs.db
